<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lanches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="dark">
    <ion-list-header>
      <ion-label color="dark">Confira nosso cardápio:</ion-label>
    </ion-list-header>
    <ion-card color="danger">
     
      <p>{{lanches[0]}}<br>
      <b>R${{lanches[1]}}</b></p>
      <img slot="end" src="{{lanches[2]}}">

    </ion-card>
    <ion-card color="danger">
      <p>{{lanches[3]}}<br>
      <b>R${{lanches[4]}}</b></p>
      <img slot="end" src="{{lanches[5]}}">

    </ion-card>
    <ion-card color="danger">
      <p>{{lanches[6]}}<br>
      <b>R${{lanches[7]}}</b></p>
      <img slot="end" src="{{lanches[8]}}">

    </ion-card>
    <ion-card color="danger">
      <p>{{lanches[9]}}<br>
      <b>R${{lanches[10]}}</b></p>
      <img slot="end" src="{{lanches[11]}}">

    </ion-card>
    <ion-card color="danger">
      <p>{{lanches[12]}}<br>
      <b>R${{lanches[13]}}</b></p>
      <img slot="end" src="{{lanches[14]}}">

    </ion-card>
  </ion-list>

</ion-content>
