<ion-header>
  <ion-toolbar class="topo" color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     <h2> Temperos do Sul</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card class="welcome-card">
    <img src="/assets/churrascaria.jpg" alt=""/>
    <ion-card-header color="dark">
      <ion-card-subtitle>Restaurante - Churrascaria</ion-card-subtitle>
      <ion-card-title>Bem-vindos a nosso Restaurante</ion-card-title>
      <p>
        Oferecemos pratos tipícos do Rio Grande do Sul, e claro também um ótimo 
        churrasco com carnes variadas.
      </p>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>

    <ion-toolbar color="dark">
      <ion-title>Prato do Dia:</ion-title>
      
    <ion-card-content color="Medium">
      <a href="dia">
        <img src="/assets/pratoDia.jpg" alt="Maminha feita na brasa."/>
        <h2>Prato do Dia:</h2></a>
        Super Combo especial . 
      
      <a href="principais">
      <img src="/assets/churrascaria2.jpg" alt="Maminha feita na brasa."/>
      <h2>Pratos de Refeição</h2></a>
      Carnes feitas da maneira tradicional com aquele toque especial.
      
      <a href="entradas">  
      <img src="assets/entradas/lasanha.jpeg">
      <h2>Entradas</h2></a>
      Ótimos aperitvos para acompanhamento.
         
      <a href="sobremesas">
      <img src="assets/sobremesas/torta.jpg">
      <h2>Sobremesas</h2></a>
      Deliciosas sobremesas venha experimentar.

      <a href="principais">
        <img src="/assets/lanches/xis.jpg" alt="Maminha feita na brasa."/>
        <h2>Lanches</h2></a>
        Lanches saborosos com grande variedades de sabores.

      <a href="principais">
       <img src="/assets/bebidas/suco.jpg" alt="Maminha feita na brasa."/>
       <h2>Bebidas</h2></a>
        Tipos variados de bebidas para você desfrutar.
    </ion-card-content>
  </ion-toolbar>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Nosso Cardápio</ion-label>
    </ion-list-header>
    <ion-item href="entradas">
      <ion-icon slot="start" color="dark" name="restaurant"></ion-icon>
      <ion-label>Pratos de Entrada</ion-label>
    </ion-item>
    <ion-item href="principais">
      <ion-icon slot="start" color="dark" name="build"></ion-icon>
      <ion-label>Pratos Principais</ion-label>
    </ion-item>
    <ion-item href="sobremesas">
      <ion-icon slot="start" color="dark" name="grid"></ion-icon>
      <ion-label>Sobremesas</ion-label>
    </ion-item>
    <ion-item href="">
      <ion-icon slot="start" color="dark" name="pizza"></ion-icon>
      <ion-label>Lanches</ion-label>
    </ion-item>
    <ion-item href="bebidas">
      <ion-icon slot="start" color="dark" name="beer"></ion-icon>
      <ion-label>Bebidas</ion-label>
    </ion-item>
  </ion-list>
  <ion-toolbar color="danger">
  
    <ion-footer>
      <ion-title slot="end">
      <h6>&copy; Gilberto Junior</h6></ion-title>
    </ion-footer>
  </ion-toolbar>
</ion-content>
